@model IEnumerable<TodoManager.Models.Todo>

<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var Todo in Model)
        {
            <tr>
                <td>@Todo.TodoTitle</td>
                <td>@Todo.TodoDescription</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@Todo.TodoId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@Todo.TodoId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@Todo.TodoId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
